td {
    border: 1px solid gray;
}

td:hover {
    background-color: rgb(67, 56, 164);
}

.square {
    background-color: lightblue;
    width: 20px;
    height: 20px;
}

.board {
    margin-left: auto;
    margin-right: auto;
}

.timer {
    background-color: chartreuse solid 1px;
}

.isWin {
    background-color: lightgreen;
}

.isFail {
    background-color: red;
}