td {
    border: 1px solid gray;
}

td:hover {
    background-color: rgb(67, 56, 164);
}

.square {
    background-color: lightblue;
    width: 25px;
    height: 25px;
}

.board {
    margin-left: auto;
    margin-right: auto;
}

.timer {
    background-color: chartreuse solid 1px;
}

.isWin {
    background-color: lightgreen;
}

.isFail {
    background-color: red;
}

.center-div {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stretcVertDiv {
    display: flex;
    justify-content: center;
}

.stretchHorDiv {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.gameOverDiv {
    background-color: rgba(0, 0, 0, 0.9);
}

button {
    text-align: center;
    font-size: 13px;
    background: rgb(41, 127, 184);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    border-radius: 10px;
    color: white;
    padding: 10px 5px;
    margin: 10px;
    display: inline-block;
}

button:hover {
    background: rgb(62, 127, 164);
}