td {
    border: 1px solid gray;
}

td:hover {
    background: rgb(67, 56, 164);
}

.square {
    background: lightblue;
    width: 20px;
    height: 20px;
}

.board {
    margin-left: auto;
    margin-right: auto;
}